{% extends "base.html" %}
{% load comments_tags %}

{% block content %}
    <h2>Complaint: {{ item.url }} <a href="{{ item.url }}">(link)</a></h2>
    {% if item.screen %}
        <img src="{{ MEDIA_URL }}{{ item.screen }}" width="300">
    {% endif %}

    <div style="margin-bottom: 50px;">
        <p>{{ item.content }}</p>
    </div>

    {% get_comment_list item as comments %}
    <div>
        {% for x in comments %}<p>{{ x.message }}</p> {% endfor %}
    </div>

    {% if user.is_authenticated %}
        {% get_comment_form item as comment_form %}
        {% include "complaints/include/base_form.html" with form=comment_form url_name='comments_add' init_as_visible=False %}
    {% else %}
        <h2>Только зарегистрированные пользователи могут оставлять комментарии. <a href="{% url "login" %}">Войти</a></h2>
    {% endif %}
{% endblock %}