{% load complaints_tags %}
 {% load webdesign %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;
        }
        footer {
            border-top: solid 1px #808080;
            background: wheat;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Hi, Django!</h1>

    {% block content %}

        <h2><a href="{% url 'complaints_index' %}">COMPLAINS</a></h2>

    {% endblock %}


    <div class="example-1">
        {% complaints 2 as foo %}
        {% for x in foo %}
            {{ x.url }}
            {% if not forloop.last %} | {% endif %}
        {% endfor %}
    </div>

    <div class="example-2">
        {% complaints_urls 3 %}
    </div>

{#    {% lorem 2 p random %}#}

    <footer>
        go <a href="{% url 'home' %}">home</a>
    </footer>
</body>
</html>