{% extends "index.html" %}
{% load complaints_tags %}

{% block content %}
    <h2>Complaint: {{ item.url }} <a href="{{ item.url }}">(link)</a></h2>
    {% if item.screen %}
        <img src="/media/{{ item.screen }}" width="300">
    {% endif %}

    <div style="margin-bottom: 50px;">
        <p>{{ item.content }}</p>
    </div>

    <div>
        {% for x in item.comment_set.all %}<p>{{ x.content }}</p> {% endfor %}
    </div>

    {% complaint_comment_form_for item as comment_form %}

    {% include "complaints/include/base_form.html" with form=comment_form url_name='complaints_comments_add' %}
    {#  TODO: comments  #}


{% endblock %}